/* CABEÇALHO */

.cabecalho__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    
}

.cabecalho__pesquisar__item {
    display: none; /*para aparecer*/
}

/* SUPERIOR SEÇÃO */

.superior__secao__container{
    display: flex;
    align-items: center;
    white-space: nowrap; /*palavras uma do lado da outra*/
    overflow: scroll;
    gap: 15px; /* espaçamento entre os itens*/
}


/* RODAPÉ */

.rodape__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


@media (min-width: 834px) {

    /* CABEÇALHO */

    .cabecalho__pesquisar__item {
        display: block; /*para sumir*/
    }


    /*RODAPÉ*/

    .rodape__container{
        justify-content: space-between;
    }
}
